Code/*.o
build/*.exe
build/*.obj
build/*.pdb
build/*.pdi
build/*.map
build/*.dll
build/*.lib
build/*.exp
build/raylib/*.data
build/raylib/*.html
build/raylib/*.js
build/raylib/*.exe
build/raylib/*.wasm
build/raylib/Data/*