[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "Automata-Engine"]
	path = Automata-Engine
	url = https://github.com/BluBloos/Automata-Engine.git
